.navbar{
background-color: #007bb6;
.nav-link{
    color: #ffffff;
}
}
a{
    margin-left: 7px;
}
a.is-active{
    background-color: #ffffff;
    color: #007bb6 !important;
    border: 1px solid #007bb6;
  }
